# Python
__pycache__/
*.py[cod]
venv/
.env
*.egg-info/

# Node
node_modules/
.next/

# OS
.DS_Store
Thumbs.db

# Claude
.claude/

# VSCode
.vscode/

# Unity
unity warehouse/Library/
unity warehouse/Logs/
unity warehouse/Temp/
unity warehouse/Obj/
unity warehouse/UserSettings/

# Visual Studio
unity warehouse/*.csproj
unity warehouse/*.sln
unity warehouse/*.user